/*testing*/
body{
  min-height: 100vh;
  max-height: 100%;
}

#chopping-board{
  position: absolute;
  top: 50px;
  left: 100px;
  border: solid;
  width: 1200px;
  height: 800px;  
  z-index: 10;
}

.ingredient{
//   border: solid;
  width: 336px;
  height: 150px;
  position: absolute;
  left: 25%;
  top: 25%;
}

#chicken{
  background: url('images/Chicken Drumstick.jpg');
}

.cutting-area{
  position: absolute;
}

.cutting-area:hover{
    cursor: url(https://api.iconify.design/noto-v1/kitchen-knife.svg?width=50&height=50&rotate=90deg),auto;
}

.cutting-area:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

#cutting-area1{
//   border:solid;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3rem;
}

#cutting-area1:before{
  border-bottom: 2px red dashed;
  transform: translateY(-50%);
}

#cutting-area2{
//   border:solid;
  width: 3rem;
  height: 100%;
  left: 25%;
  top: 0;
  display: none;
}

#cutting-area2:before{
  border-right: 2px red dashed;
  transform: translateX(-50%);
}

#cutting-area3{
//   border:solid;
  width: 3rem;
  height: 100%;
  left: 75%;
  top: 0;
  display: none;
}

#cutting-area3:before{
  border-right: 2px red dashed;
  transform: translateX(-50%);
}